@import url("https://fonts.googleapis.com/css?family=Figtree&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Figtree', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #000000;
}

/* All about heading navigation */
#heading {
    display: flex;
    background-color: #FFFFFF;
    width: 1440px;
    height: 100px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 430px;
    height: 100%;
}

#navigation {
    display: flex;
    align-items: start;
    width: 40%;
    height: 98%;
    font-weight: 500;
    font-size: 1.125em;
    padding-left: 82px;
}

#home, #about, #services, #pricing, #faq {
    margin-top: 38px;
}

#home {
    margin-right: 45px;
}

#about {
    margin-right: 44.5px;
}

#services {
    margin-right: 45px;
}

#pricing {
    margin-right: 45px;
}

#faq {
    margin-right: 10px;
}

#button-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 98%;
    padding-left: 34px;
}

#menu, #menu-active, #menu-container {
    display: none;
}

/* All about button */
button:hover, #menu:hover, #close:hover, .icons-menu-content:hover, #home-caption:hover {
    cursor: pointer;
}

button {
    font-family: 'Figtree', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.pink-button {
    background-color: #FA1239;
    width: 150px;
    height: 46px;
    border: 0px;
    border-radius: 60px;
    color: #FFFFFF;
    font-size: 1.1rem;
    box-shadow: 0px 0px 12px rgba(224, 136, 151, 0.7);
}

#hero-pink-button {
    width: 155px;
}

.white-button {
    background-color: #FFFFFF;
    width: 202px;
    height: 46px;
    border: #FA1239 1px solid;
    border-radius: 60px;
    color: #FA1239;
    font-size: 1.1rem;
    box-shadow: 0px 0px 12px rgba(224, 136, 151, 0.7);
    margin-right: 20px;
}

#bottom-button {
    background-color: #FFE3E8;
    border: 0px;
    border-radius: 5px;
    width: 154px;
    height: 42px;
    font-size: 1.1rem;
}

/* All about hero section */
#hero-section {
    display: flex;
    width: 1440px;
    height: 809px;
    background: linear-gradient(to right, #FFBFCA, #FFE7EB) ;
    padding: 0px;
    margin: 0px;
}

#left {
    width: 47%;
    height: 100%;
    margin: 0px;
    padding-left: 100px;
    padding-top: 100px;
}

.left-content {
    font-size: 64px;
    font-weight: bold;
    margin: 0px;
    width: 620px;
    height: 252px;
    line-height: 1.32;
}

#underline {
    position: relative;
    top: 178px;
    left: 3px;
}

#quote-left {
    margin-top: 42px;
    margin-bottom: 39px;
    width: 79%;
    line-height: 2.1;
    font-size: 16px;
}

#deserves {
    padding-left: -5px;
}

#right {
    display: flex;
    align-items: end;
    width: 53%;
    height: 100%;
    padding-top: 8.5px;
    margin: 0px;
    padding-right: 1.9px;
}

#girl-image {
    width: auto;
    height: 727px;
    padding: 0px;
    margin: 0px;
}

/* All about frame 559 */
#frame-559, #frame-567, #frame-557, #frame-551, .square-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#frame-559 {
    background-color: #FFFFFF;
    width: 1440px;
    height: 770px;    /*This height should be 774*/
}

#frame-567 {
    flex-direction: column;
    justify-content: start;
    width: 1255px;
    height: 678px;
    padding: 0px;
    gap: 15px;
}

#frame-557 {
    justify-content: start;
    flex-direction: column;
    width: 1240px;
    height: 198px;  
    gap: 2px;
}

#quote-heading {
    font-size: 2.7rem;
    font-weight: 900;
    margin: 20px 0px;
    line-height: 1.26;
    text-align: center;
}

span {
    color: #FA1239;
}

#frame-551 {
    justify-content: space-between;
    width: 1255px;
    height: 450px;
    padding: 0px;
    padding-left: 15px;
    margin-top: 16px;
}

.square-content {
    flex-direction: column;
    justify-content: start;
    width: 298.75px;
    height: 450px; /*It should be 450px*/
    border-radius: 15px;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.1);
}

.quote-title, .quote {
    text-align: center;
    line-height: 1.6;
    
}

.quote-title {
    margin-top: 42px;
    font-size: 1.2rem;
    font-weight: 600;
}

.quote {
    color: #263238;
    font-size: 1.143rem;
    margin-top: 4px;
    margin-left: 2.5px;
    line-height: 1.62;
}

.square {
    margin-top:  45px;
}

#quote-heading-contener {
    width: 75%;
    height: 60%;
    padding-top: 5px;
}


/* For mobile */
@media screen and (max-width: 500px) {

    /* All about heading navigation */
    #heading {
        display: flex;
        background-color: #FFFFFF;
        width: 375px;
        height: 54.62px;
        gap: 20.5px;
    }

    #logo, #button-nav-container {
        width: 40%;
    }

    #logo {
        padding-left: 4px;
    }

    #button-nav-container {
        justify-content: end;
        padding-right: 10px;
    }

    #image-logo {
        width: 127px;
        height: 35px;
    }

    #navigation, #heading-button {
        display: none;
    }

    #menu {
        display: block;
        width: 16%;
        height: auto;
    }

    .left-content {
        font-size: 2rem;
        line-height: 1.38;
        gap: 1px;
        width: 310px;
        height: auto;
        margin: 0px;
    }

    /* All about hero section */
    #hero-section {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 375px;
        height: 913px;
        background: linear-gradient(to bottom, #FECDD5, #ffeaee);
        z-index: 1;
    }

    #left {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        width: 100%;
        height: 70%;
        text-align: center;
        padding-top: 11px;
    }

    #underline {
        display: none;
    }

    #quote-left {
        margin-top: 10px;
        margin-right: 2px;
        margin-bottom: 3px;
        width: 90%;
        line-height: 2.13;
        font-size: 1rem;
    }

    #hero-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding-top: 4px;
    }

    .white-button {
        margin-right: 4px;
        margin-bottom: -1px;
    }

    #hero-pink-button {
        margin-right: 4px;
    }

    #span-combination {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    #right {
        position: relative;
        padding-left: 8px;
        padding-bottom: 10px;
        width: 100%;
        height: 30%;
    }

    #second-lign, #deserves {
        margin: 0px;
        padding: 0px;
    }

    #deserves {
        padding-left: 0px;
    }

    #girl-image {
        width: auto;
        height: 366px;
        padding: 0px;
        margin: 0px;
    }

    #bottom-button {
        font-size: 1.1rem;
    }

    /* All about frame 559 */
    #frame-559 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 375px;
        height: 2235px;  /*It should be 2198.54px*/
        margin: 0px;
        padding: 0px;
    }

    #frame-557 {
        flex-direction: column;
        width: 90%;
        height: auto; 
        margin-top: 40px;
    }

    #quote-heading-contener {
        width: 100%;
        height: fit-content;
        padding-top: 1px;
    }

    #quote-heading {
        font-size: 1.8rem;
        line-height: 1.4;
        margin-top: 17px;
        margin-bottom: 16.5px;
    }

    #frame-567 {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;  
        height: 2198.54px;
        gap: 0px;
        width: 375px;
    }

    #frame-551 {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;  
        gap: 25px;
        width: 100%;
    }

    .square-content {
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        height: auto;
    }

    .square {
        margin-top:  47px;
        margin-bottom: 0px;
    }

    .quote-title {
        line-height: 1.6;
    }

    .quote {
        line-height: 1.62;
        margin-bottom: 39px;
        font-size: 1.144rem;
    }

    /* All about menu */
    

    #menu-active {
        position: absolute;
        inset: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        background-color: #263238;
        opacity: 0.5;
        width: 375px;
        height: 100vh;
    }

    #menu-container {
        position: absolute;
        inset: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        z-index: 3;
        background: linear-gradient(to bottom, #f7d4da, #FFE7EB) ;;
        width: 325px;
        height: 100vh;
        margin-left: 25px;
    }

    #bandeau-menu {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 425px;
        height: 40px;
        background-color: #000000;
    }

    #logo-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        border-bottom: #bcbdbd 1px solid;
    }

    #company-logo-menu {
        width: 120px;
        height: auto;
        padding-left: 20px;
    }

    #close {
        width: 35px;
        height: auto;
        padding-right: 15px;
    }

    #menu-content {
        padding-left: 23px;
        padding-top: 63px;
    }

    .icons-menu-content {
        margin-right: 24px;
        width: 24px;
        height: auto;
    }

    .icons-menu-container {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        font-size: 1.1rem;
        color: #000000;
        font-weight: 600;
    }

    #last-icons-menu-container {
        margin-bottom: 45px;
    }

    #menu-button {
        width: 280px;
        margin-left: 15px;
    }
}